@model DolarEmReal
@{
    ViewData["Title"] = "Operadores Matemáticos";
}

<section class="bg-dark text-white text-center py-3">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="text-uppercase mb-3">Operadores Matemáticos</h1>
        <p class="font-weight-light fs-2">Dolar em Real</p>
    </div>
</section>

<div class="container mt-4">
    <div class="row justify-content-md-center">
        <form method="post" class="col-lg-8 col-md-12">
            <p class="mb-4">
                Analisando a fórmula "Dolar Em Real = cotacao * quantidadeDeDolar";
                Converter dolar em reais.
            </p>
            <div class="row mb-4">
                <div class="col">
                    <label asp-for="Cotacao" class="form-label"></label>
                    <input asp-for="Cotacao" class="form-control">
                    <span asp-validation-for="Cotacao" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="QuantidadeDolar" class="form-label"></label>
                    <input asp-for="QuantidadeDolar" class="form-control">
                    <span asp-validation-for="QuantidadeDolar" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <label asp-for="ValorEmReal" class="form-label"></label>
                    <input asp-for="ValorEmReal" class="form-control" disabled>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}